
.about {
	text-align: center;
	margin: 50px 0 0;
	.wrapper {
		border-top: 1px solid lighten($subHeader,30);
		padding-top: 50px;
	}
	
}
div.outerContainer {
	width: 100%;
	padding: 40px 0;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid lighten($subHeader,30);
}
div.mySkills,
div.selfTaught,
div.wantToLearn {
	margin: 0 auto;
	width: 33.3333%;
	float: left;
	position: relative;
	overflow: hidden;
	opacity: 0.2;
	object {
		display: inline-block;
		width: 100px;
		height: 100px;
		position: relative;
		margin-bottom: 15px;
	}
}
div.wantToLearn {
	margin-right: 0;
}
p {
	font-size: $fontSize;
}
p.oneliner {
	font-weight: 400;
	font-size: $fontSize*1.1;
}
strong {
	font-weight: 400;
}
h3 {
	// min-width: 132px;
	@include fontStackReg;
	font-size: $fontSize;
	margin: 0 auto;
}
.funFact {
	font-weight: 400;
}
div.list {
	margin: 0 auto;
	margin-bottom: 10px;
	overflow: hidden;
	ul {
		margin: 0 auto;
		padding: 0;
		position: relative;
		top: -100px;
		opacity: 0;
	}
	li {
		@include fontStackLight;
		list-style-type: none;
		margin-bottom: 10px;
		letter-spacing: 1.2px;
		&:first-child {
			margin-top: 10px;
		}
	}
}
div.mySkills h3 {
	color: $github;
}
div.selfTaught h3 {
	color: $link;
}
div.wantToLearn h3 {
	color: $phone;
}

div.selfTaught g#Layer_2 path {
	stroke: lighten($link,9);
}

div.wantToLearn svg > path {
	stroke: lighten($phone,9);
}

object.heart {
	svg {
		fill: lighten($github,9);
		g#Layer_1 path {
			stroke: lighten($github,9);
		}
	}
}

object.learn {
	svg {
		fill: lighten($link,9);
		g#Layer_1 path {
			stroke: lighten($link,9);
		}
	}
}

object.brain {
	svg {
		fill: lighten($phone,9);
		g#Layer_1 path {
			stroke: lighten($phone,9);
		}
	}
}



object.heart:before,
object.heart:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 117%;
	height: 1px;
	border-top: 1px solid lighten($github,9);
}

object.heart:after {
	right: 100%;	
}
object.heart:before {
	left: 100%;
}
object.learn:before,
object.learn:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 117%;
	height: 1px;
	border-top: 1px solid lighten($link,9);
}
object.learn:before {
	right: 100%;
}
object.learn:after {
	left: 100%;
}
object.brain:after,
object.brain:before {
	content: "";
	position: absolute;
	top: 50%;
	width: 117%;
	height: 0;
	border-top: 1px solid lighten($phone,9);
}

object.brain:before{
	left: 100%;
	
}
object.brain:after{
	right: 100%;
}
