
.topBanner {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 0;
	ul {
		padding: 0;
		font-size: 0;
	}
	li.surprise {
		@include navLists;
		margin: 0;
		padding: 0;
		width: 25%;
		height: 7px;
		overflow: hidden;
		-webkit-transition: background 0.6s;
		transition: background 0.6s;
	}
	.green {
		background: lighten($heart,22);
	}
	.orange {
		background: lighten($link,22);
	}
	.red {
		background: lighten($github,22);
	}
	.blue {
		background: lighten($twitter,22);
	}
	// background: url(../images/jpg/hero.jpg) no-repeat center center;
	// background-size: cover;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
}
.squamond {
	position: relative;
	width: 100px;
	height: 100px;
	display: inline-block;
	svg {	
	position: absolute;
	width: 100%;
	height: 100%;
	}
}
@mixin contactHover($color) {
	&:hover {
		background: lighten($color,5);
		cursor: pointer;
	}
	&:hover svg {
		fill: darken($color,5);
		cursor: pointer;
	}
}

header {
	text-align: center;
	h1.name {	
			@include fontStackLight;
			font-size: 6em;
			color: $mainHeader;
			text-transform: lowercase;
			letter-spacing: 1px;
		}
		h2.title {
			@include fontStackThin;
			font-size: $fontSize*2;
			color: $subHeader;
			letter-spacing: 0.8px;
			text-transform: uppercase;
			// position: relative; 
			// top: -17px;
			margin-bottom: 40px;
	}
}



// header {
// 	text-align: center;
// 	background: #fff;

// }

.home nav {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	padding: 80px 40px 0;
	@include fontStackLight;
	color: #fff;
	ul {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	li {
		@include navLists;
		&:hover {
			cursor: pointer;
		}
		a {
			text-decoration: none;
			font-weight: 400;
			font-size: $fontSize;
		}
	}
	#seeWork {
		float: right;
	}
}



@media all and (max-width: 1150px) {
}
	
