img {
	max-width: 100%;
}

object svg {
	width: 100%;
	height: 100%;
}

.heroContainerRight {
	width: 633px;
	height: 740px;
	position: absolute;
	top: -352px;
	right: -331px;
	z-index: -100;
	border-radius: 10px;
	overflow: hidden;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	img {
		height: auto;
		-webkit-transform: rotate(45deg) scale(1.5);
		transform: rotate(45deg) scale(1.5);
	}
}

.heroContainerLeft {
	width: 633px;
	height: 740px;
	position: absolute;
	top: -352px;
	left: -331px;
	z-index: -100;
	border-radius: 10px;
	overflow: hidden;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	img {
		height: auto;
		-webkit-transform: rotate(-45deg) scale(1.5);
		transform: rotate(-45deg) scale(1.5);
	}
}

$w: 170px;

@mixin thumbHover {
	@-webkit-keyframes gradient {
		0% {fill: #d6d6d6;
		}
		50% {fill: $mainHeader;
	}
		100% {fill:$subHeader;}
	}
	@keyframes gradient {
		0% {fill: #d6d6d6;
		}
		50% {fill: $mainHeader;
	}
		100% {fill:$subHeader;}
	}
}

.work {
	position: relative;
	width: 33.3333%;
	float: left;
	object {
		width: $w;
		height: $w;
		position: absolute;
		left: 10%;
		bottom: 0;
		display: inline-block;
		z-index: 100;
		margin: 0 auto;
		svg {
			fill: #d6d6d6;
		}
	}
	&:hover svg {
		-webkit-animation: gradient 0.6s linear;
		animation: gradient 0.6s linear;
		@include thumbHover;
		fill: $subHeader;
	}
	// &:hover object {
	// 	-webkit-animation: rotate 0.5s linear;
	// 	animation: rotate 0.5s linear;
	// 	@include rotateSquare;
	// }
}
.thumbContainer {
	width: $w;
	height: $w;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	img {
		height: auto;
		-webkit-transform: rotate(-45deg) scale(1.5);
		transform: rotate(-45deg) scale(1.5);
	}

}

