$marginBottom: -20px;

* {
	margin: 0;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px;
}

.footer, 
.push {
	height: 50px;
}
html, body {
	height: 100%;
}

.wrapper {
	width: 65%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	width: 100%;
	padding: 50px 0;
}

.contact .wrapper {
	@include column(8);
	@include push(2);
}

.about .wrapper {
	@include column(7);
	@include push(2.5);
}

.works {
	width: 100%;
	margin-top: 30px;
}
footer {
	width: 100%;
	height: 50px;
	background: #333;
	margin-top: 100px;
}

