
.wrapper {
	width: 65%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	width: 100%;
	padding: 50px 0 100px;
}

nav {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0 0;
}

.works {
	width: 100%;

}

