
$fontStack: 'Lato','Open Sans', Helvetica, Arial, Sans-Serif;
$fontSize: 1.2em;
$mainHeader: #49c0ea;
$subHeader: #aabd6c;
$nav: #989898;
$heart: #b3be55;
$email: #414040;
$phone: #4aabb5;
$github: #c63c3b;
$twitter: #2b5078;
$link: #f07f13;

@mixin fontStackThin {
	font-family: $fontStack;
	font-weight: 100;
}

@mixin fontStackLight {
	font-family: $fontStack;
	font-weight: 300;
}

@mixin fontStackReg {
	font-family: $fontStack;
	font-weight: 400;
}

@mixin navLists {
	list-style-type: none;
	display: inline-block;
}



h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	letter-spacing: 0.6px;
	font-size: $fontSize;
}


p {
	@include fontStackLight;
	font-size: $fontSize;
	margin-bottom: 15px;
}

a {
	color: $link;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	&:hover,
	&:focus,
	&:active {
		color: lighten($link,25);
	}
}
