
@media all and (max-width: 1095px) {
	section.about .outerContainer {

	}
}

@media all and (max-width: 1090px) {
	
		li {
			margin-bottom: 10px;
		
		}
	
}

@media all and (max-width: 985px) {
	.details {
		width: 55%;
	}
}

@media all and (max-width: 890px){
	.about h3 {
		width: 85%;
	}
}

@media all and (max-width: 880px) {
	.about {
		.wrapper {
			@include column(9);
			@include push(1.5);
		} 
		div.list {
		width: 60%;
		li {
			margin-bottom: 10px;
		}
		}
	}

}

@media all and (max-width: 780px) {
	.about h3 {
		width: 100%;
	}
	.about div.list {
		width: 90%;
		margin-left: 0;

	}
	.myWork.wrapper {
		width: 95%;
		margin: 0 auto;
	}
	
}

@media all and (max-width: 700px) {
	.thumb {
		object, .thumbContainer {
			width: 150px;
			height: 150px;
		}
	}
	.work {
		h3 {
			font-size: 1.27em;
		}	
		 p {
			font-size: 1em;
		}
		h4 {
			font-size: 1.1em;
		}
		h4+p {
			font-size: 0.9em;
		}
	}
}

@media all and (max-width: 660px) {
	.about div.list {
		width: 100%;
		margin-top: 10px;
	}
}

@media all and (max-width: 620px){
	.about {
		.wrapper {
			@include column(10);
			@include push(1);
		} 
		h3 {
			font-size: 1em;
		}
		li {
			font-size: 0.9em;
		}
	}
}

@media all and (max-width: 580px) {
	
	.thumb {
		object, .thumbContainer {
			width: 200px;
			height: 200px;
		}
	}
	.thumb {
		margin-bottom: 100px;
	}
	.works {
		h2 {
			margin-bottom: 20px;
		}
	}
	.work {
		margin-bottom: 30px;

	}
	.myWork.wrapper {
		text-align: center;
		padding: 0;

	}
	.details {
		text-align: left;
		margin: 0;
		width: 75%;
	}
}

@media all and (max-width:540px){
	header {
		width: 95%;
		margin: 0 auto;
		h1.name {
			font-size: 3.3em;
		}
	}
	.contact {
		width: 95%;
		margin: 0 auto;
		.wrapper {
			width: 100%;
			float: none;
			margin: 0 auto;
		}
	}
	.contact li:not(:last-child) {
		margin-right: 20px;
	}
	.contact ul{
		margin-left: 0;
		position: relative;
		left: -15px;
	}
}


@media all and (max-width: 440px){
	.about {
		.wrapper {
			@include column(10);
			@include push(1);
		} 
		h3 {
			font-size: 1.2em;
		}
		li {
			font-size: 1em;
		}
		div.mySkills, div.selfTaught,
		div.wantToLearn {
			float: none;
			margin-bottom: 20px;
			width: 90%;
			object {
				width: 150px;
				height: 150px;
			}
			object:before,
			object:after {
				display: none;
			}
		}
		div.wantToLearn {
			margin: 0 auto;
		}

	}
	
}

@media all and (max-width: 415px){
	header {
		h1.name {
			font-size: 4em;
			line-height: 1;
		}
		h2.title {
			margin-top: 20px;
			font-size: 1.8em;
			font-weight: 300;

		}
	}
}