img {
	max-width: 100%;
}

object svg {
	width: 100%;
	height: 100%;
}

.heroContainerRight {
	width: 633px;
	height: 740px;
	position: absolute;
	top: -352px;
	right: -331px;
	z-index: -100;
	border-radius: 10px;
	overflow: hidden;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	img {
		height: auto;
		-webkit-transform: rotate(45deg) scale(1.5);
		transform: rotate(45deg) scale(1.5);
	}
}

.heroContainerLeft {
	width: 633px;
	height: 740px;
	position: absolute;
	top: -352px;
	left: -331px;
	z-index: -100;
	border-radius: 10px;
	overflow: hidden;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	img {
		height: auto;
		-webkit-transform: rotate(-45deg) scale(1.5);
		transform: rotate(-45deg) scale(1.5);
	}
}

$w: 200px;

.work {
	position: relative;
	object {
		width: $w;
		height: $w;
		position: absolute;
		left: 0;
		display: inline-block;
		z-index: 100;
		svg {
			fill: #d6d6d6;
		}
	}
}
.thumbContainer {
	width: $w;
	height: $w;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	img {
		height: auto;
		-webkit-transform: rotate(-45deg) scale(1.5);
		transform: rotate(-45deg) scale(1.5);
	}
}

