$buttonHeight: 70px;
.myWork.wrapper {
	width: 85%;
	padding-left: 50px;
}
.works h2 {
	@include fontStackLight;
	color: $nav;
	font-size: $fontSize*1.8;
	text-align: center;
	margin-bottom:80px;
}
.work:first-child {
	margin-top: 250px;
}
.work {
	margin-bottom: 100px;
	h3 {
		@include fontStackReg;
		font-size: $fontSize*1.2;
		color: $mainHeader;

	}
	h4, h4+p {
		font-size: $fontSize*0.9;
	}
	h4 {
		@include fontStackLight;	
		color: $subHeader;
	}
	h4+p {
		max-width: 510px;
	}
	ul {
		padding: 0;
	}
	li {
		display: inline-block;
		width: auto;
		@include fontStackLight;
		font-size: $fontSize*0.8;
		color: $link;
		&:first-child {
			margin-right: 40px;
		}
	}
	a.moreInfo {
		height: $buttonHeight;
		@include fontStackLight;
		font-size: $fontSize*0.8;
		background: lighten($link,10);
		padding: 6px 15px;
		border-radius: 5px;
		border: none;
		box-shadow: none;
		color: #fff;
		text-decoration: none;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		&:hover {
			background: $link;
		}
	}
}
.thumb {
	width: auto;
	display: inline-block;
	margin-right: 15px;
	position: relative;
	top: 50px;
	vertical-align: top;
}
.details {
	display: inline-block;
	width: 65%;
	margin-left: 55px;
	position: relative;
}







// .work {
// 	margin-bottom: 400px;
// 	h3 {
// 		@include fontStackReg;
// 		font-size: $fontSize*1.2;
// 		color: $mainHeader;

// 	}
// }
// .thumb {
// 	width: auto;
// 	display: inline-block;
// 	margin-right: 50px;
// 	position: absolute;
// 	top: 0;
// 	left: -50px;
// 	z-index: 1;
// }
// .details {
// 	display: inline-block;
// 	position: relative;
// 	z-index: 200;
// 	@include column(5.5);
// 	margin-left: $d+70;
// }

// $buttonHeight: 70px;

// a {
// 	height: $buttonHeight;
// 	@include fontStackLight;
// 	font-size: $fontSize*0.8;
// 	background: none;
// 	border: none;
// 	box-shadow: none;
// 	color: $link;
// }

// object.screen {
// 	width: $buttonHeight;
// 	height: $buttonHeight/0.8;
// 	display: inline-block;
// }
// object.screen + h4 {
// 	display: inline-block;
// }
